<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flask Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=2, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>

    <div class="container-fluid">
      <div class="row" style="padding-top:1rem;padding-bottom:1rem;margin-bottom:1rem;background-color:rgb(230,230,230);">
        <div class="col-xs-8 offset-xs-2 text-xs-center">
          <h2>Flask Chat</h2>
        </div>
        <div class="col-xs-2">
          <button class="btn btn-primary pull-right" id="change_name">Change Name</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10">
          <ul class="list-group" id="chat_messages">
          </ul>
        </div>
        <div class="col-xs-2">
          <ul class="list-group" id="user_names">
          </ul>
        </div>
      </div>
      <div class="navbar navbar-dark bg-primary navbar-fixed-bottom">
        <form id="message">
          <div class="col-xs-10">
            <input type="text" class="form-control" name="message_text" id="message_text" />
          </div>
          <div class="col-xs-2">
            <button class="btn btn-secondary btn-block">Send</button>
          </div>
        </form>
      </div>
    <div>

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <script>
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      var user_name = '{{ user_name }}';

      socket.on('connect', function() {
        if (!user_name) {
          user_name = prompt('Enter a User Name');
          socket.send('change_user_name', user_name);
        }
      });

      socket.on('user_list', function(users) {
        var user_names = '';
        $.each(users, function(key, user) {
          user_names += '<li class="list-group-item">' +
                          user.name +
                        '</li>';
        });

        $('#user_names').html(user_names);
      });

      socket.on('chat_message', function(message) {
        $('#chat_messages').append('<li class="list-group-item">' +
                                      message.user_name + ': ' + message.chat_message +
                                    '</li>');

        while ($('#chat_messages').height() > $(window).height() - 120) {
          $('#chat_messages li:first').remove();
        }
      });

      $('#message').on('submit', function(e) {
        e.preventDefault();
        let message_text = $(this).serializeArray()[0].value;

        socket.send('send_chat_message', message_text);

        $('#message_text')[0].value = '';
      });

      $('#change_name').on('click', function() {
        user_name = prompt('Enter a User Name');
        socket.send('change_user_name', user_name);
      });
    </script>
  </body>
</html>
